.btn-primary {
    background-color: #fff;
    border-color: #fff;
    color: black;
}
* {
    font-family: 'Montserrat', sans-serif;
}
div.newJumbotron {
    background-color: #222f3e;
    color: #fff;
    padding: 2.5%;
}
div.newJumbotron-small {
    background-color: #222f3e;
    color: #fff;
    padding: 1%;
}
div.container {
    margin-top: 2.5%;
}
img.logo-small {
    height: 32px;
    width: auto;
}
img.logo {
    height: 64px;
    width: auto;
    margin-bottom: 2%;
}
div.footer {
    background-color: #222f3e;
    color: #fff;
    font-size: large;
    padding: 2%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}