div.newJumbotron {
    background-color: #222f3e;
    color: #fff;
    padding: 2.5%;
}
div.small {
    padding: 1%;
}
nav.bg-dark {
    background-color: #222f3e !important;
    color: #fff;
    padding: 1%;
}
nav.bg-dark li a.nav-link {
    color: #fff !important;
}