.btn-primary {
    background-color: #222f3e;
    border-color: #fff;
}
img.logo-small {
    height: 32px;
    width: auto;
}
img.logo {
    max-height: 64px;
    width: auto;
    max-width: 100%;
    margin-bottom: 2%;
}
div.footer {
    background-color: #222f3e;
    padding: 2%;
}
button.btn-primary {
    font-size: 20px;
}

div.page p {
    font-size: 16px;
}

div.page h1, h3 {
    font-weight: 500;
}